* {
    --yellow: #FCC422;
    --blue: #1EA1F2;
    --green: #2AC3A2;
    --purple: #A074C4;
}

body,
html {
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #181818;
    line-height: 1.3em;
}

div {
    padding: 25px 12% 1px 12%;
    margin: 0;
}

h1 {
    font-size: 30px;
}

img {
    margin: 18px 5px;
    border: 1px solid #CCCCCC;
    max-width: 100%;
}

ul,
ul li {
    display: flex;
    justify-content: center;
}

ul li a {
    text-decoration: none;
    padding: 0 10px;
    &:hover{
        text-decoration: underline;
    }
}
code pre
{
    background: #181818;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px 18px;
    width: 75%;
}

